[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=mEveMon
Comment=Character monitor for EVE Online
Exec=/usr/bin/mevemon
Icon=mevemon
X-Window-Icon=mevemon
Type=Application
